{% load static %}
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{% url 'index' %}">
  <span class="align-middle">AdminKit</span>
</a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" href="{%url 'indexDash'%}">
      <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'profile'%}">
      <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
    </a>
            </li>

            

            <li class="sidebar-header">
                Tools & Components
            </li>

    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'add_admin_user'%}">
      <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">add Admin</span>

    </a>
            </li>


    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'admin_user_list'%}">
      <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">admin list</span>

    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'list_product'%}">
      <i class="align-middle" data-feather="square"></i> <span class="align-middle">Prodect list</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'create_product'%}">
      <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">add prodect</span>

    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'list_order'%}">
      <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Order list</span>
    </a>
            </li>

    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'create_order'%}">
      <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Add Order</span>
    </a>
            </li>

    
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'create_category'%}">
      <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Add category</span>
    </a>
            </li>


    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'list_category'%}">
      <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Category list</span>
    

           
</nav>



 




